img.octagon {
	width:200px;
	height:200px;
	position:relative;
	float:left;
	background-color:#FFFFFF;
}

div.controls {
	clear:both;
        width:447px;
        height:489px;
        top:312px;
        position:absolute;
        float:left;
        background-color:#FFFFFF;
        border:1px solid #000000;
}

