img.octagon {
	width:200px;
	height:200px;
	position:relative;
	float:left;
	background-color:#FFFFFF;
}
div.controls {
	clear:both;
	white-space:nowrap;
        width:195px;
        height:490px;
        top:312px;
        position:absolute;
        background-color:#FFFFFF;
        border:1px solid #000000;
}

div.controltable {
	width:195px;
	overflow:hidden;
}
